<h2>Expectativas de Mercado Anuais</h2>

<h3>Importando Bibliotecas</h3>

In [41]:
import requests
import pandas as pd
import json

<h3>Informando URL da API</h3>

In [42]:
url = "https://olinda.bcb.gov.br/olinda/servico/Expectativas/versao/v1/odata/ExpectativasMercadoAnuais?$top=35000&$format=json&$select=Indicador,IndicadorDetalhe,Data,DataReferencia,Media,Mediana,DesvioPadrao,Minimo,Maximo,numeroRespondentes,baseCalculo"

<h3> Função para baixar dados da API </h3>
<p>Definimos a função que faz a requisição e salva os dados em JSON.</p>

In [43]:

def requisicao_api(link, json_filename="arquivos_json/expectativa_mercado_anuais.json"):
  resposta = requests.get(link)
  print("Status Code:", resposta.status_code)

  if resposta.status_code == 200:
    dados = resposta.json()
    print('Status Code:', resposta.status_code)
    with open(json_filename, 'w', encoding='utf-8') as arquivo:
      json.dump(dados, arquivo, ensure_ascii=False, indent=4)

  else:
     print('Ocorreu um erro tente novamente.\nStatus Code:', resposta.status_code)

<h3> Requisição dos dados e salvamento em JSON </h3>
<p>Chamamos a função passando a URL e salvamos o resultado em <code>arquivos_json/</code>.</p>

In [44]:
requisicao_api(url)

Status Code: 200
Status Code: 200

<h3> Conversão do JSON em DataFrame </h3>
<p>Carregamos o JSON salvo e organizamos os dados em formato tabular com pandas.</p>

In [45]:
jsondata = pd.read_json("arquivos_json/expectativa_mercado_anuais.json")
data = jsondata.get("value", [])
df = pd.json_normalize(data)

# mostrar as 5 primeiras linhas do DataFrame
df.head()

,Indicador,IndicadorDetalhe,Data,DataReferencia,Media,Mediana,DesvioPadrao,Minimo,Maximo,numeroRespondentes,baseCalculo
0,Balança comercial,Exportações,2001-11-06,2001,58.54,58.30,1.21,55.4,64.15,NaN,0
1,Balança comercial,Exportações,2001-11-06,2002,61.17,61.00,2.13,56.6,66.00,NaN,0
2,Balança comercial,Exportações,2001-11-06,2003,66.82,67.70,3.26,62.1,71.70,NaN,0
3,Balança comercial,Exportações,2001-11-06,2004,67.28,67.28,2.23,65.7,68.85,NaN,0
4,Balança comercial,Exportações,2001-11-06,2005,69.90,69.90,0.00,69.9,69.90,NaN,0

In [46]:
# verificar os nomes das colunas
df.columns.tolist()

['Indicador',
 'IndicadorDetalhe',
 'Data',
 'DataReferencia',
 'Media',
 'Mediana',
 'DesvioPadrao',
 'Minimo',
 'Maximo',
 'numeroRespondentes',
 'baseCalculo']

<h3> Exportação do DataFrame para CSV </h3>
<p>o DataFrame final é salvo em uma subpasta para melhor organização</p>

In [47]:
df.to_csv("arquivos_csv/expectativa_mercado_anuais.csv", index=False, encoding="utf-8-sig")
print("CSV salvo com sucesso!")
print("Arquivo salvo na pasta: arquivos_csv")
print("Arquivo salvo como: expectativa_mercado_anuais.csv")

CSV salvo com sucesso!
Arquivo salvo na pasta: arquivos_csv
Arquivo salvo como: expectativa_mercado_anuais.csv